<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Angular Calculator</title>
  </head>
  <body>
    <div class="content" role="main">
      <div class="card w-50 m-auto">
        <div class="card-title display-3 m-auto text-primary">
          Angular Calculator
        </div>

        <div class="card-content m-auto">
          <form #addForm="ngForm" class="mt-3">
            <div>
              <label class="form-label h3">Sum:</label>
            </div>
            <div>
              <input
                [(ngModel)]="add1"
                type="text"
                name="adding1"
                #adding1="ngModel"
                pattern="[0-9]+[.]?[0-9]*"
              />
              +
              <input
                [(ngModel)]="add2"
                type="text"
                name="adding2"
                #adding2="ngModel"
                pattern="[0-9]+.?[0-9]*"
              />

              <button
                (click)="doAddition()"
                type="button"
                [disabled]="!addForm.form.valid"
              >
                =
              </button>

              <div
                [hidden]="
                  adding1.valid ||
                  adding1.pristine ||
                  adding2.valid ||
                  adding2.pristine
                "
              >
                Only numeric values allowed...
              </div>

              <span *ngIf="showAdd">
                {{ add3 }} + {{ add4 }} = {{ addResult }}
              </span>
            </div>
          </form>

          <form #diffForm="ngForm" class="mt-3">
            <div>
              <label class="form-label h3">Difference:</label>
            </div>
            <div>
              <input
                [(ngModel)]="diff1"
                type="text"
                name="diffing1"
                #diffing1="ngModel"
                pattern="[0-9]+.?[0-9]*"
              />
              -
              <input
                [(ngModel)]="diff2"
                type="text"
                name="diffing2"
                #diffing2="ngModel"
                pattern="[0-9]+.?[0-9]*"
              />

              <button
                (click)="doDifference()"
                type="button"
                [disabled]="!diffForm.form.valid"
              >
                =
              </button>

              <div
                [hidden]="
                  diffing1.valid ||
                  diffing1.pristine ||
                  diffing2.valid ||
                  diffing2.pristine
                "
              >
                Only numeric values allowed...
              </div>

              <span *ngIf="showDiff">
                {{ diff3 }} - {{ diff4 }} = {{ diffResult }}
              </span>
            </div>
          </form>

          <form #multiForm="ngForm" class="mt-3">
            <div>
              <label class="form-label h3">Product:</label>
            </div>
            <div>
              <input
                [(ngModel)]="multi1"
                type="text"
                name="multiing1"
                #multiing1="ngModel"
                pattern="[0-9]+.?[0-9]*"
              />
              *
              <input
                [(ngModel)]="multi2"
                type="text"
                name="multiing2"
                #multiing2="ngModel"
                pattern="[0-9]+.?[0-9]*"
              />

              <button
                (click)="doMultiplication()"
                type="button"
                [disabled]="!multiForm.form.valid"
              >
                =
              </button>

              <div
                [hidden]="
                  multiing1.valid ||
                  multiing1.pristine ||
                  multiing2.valid ||
                  multiing2.pristine
                "
              >
                Only numeric values allowed...
              </div>

              <span *ngIf="showMulti">
                {{ multi3 }} * {{ multi4 }} = {{ multiResult }}
              </span>
            </div>
          </form>

          <form #quoForm="ngForm" class="mt-3 mb-5">
            <div>
              <label class="form-label h3">Quotient:</label>
            </div>

            <div>
              <input
                [(ngModel)]="quo1"
                type="text"
                name="quoing1"
                #quoing1="ngModel"
                pattern="[0-9]+.?[0-9]*"
              />
              /
              <input
                [(ngModel)]="quo2"
                type="text"
                name="quoing2"
                #quoing2="ngModel"
                pattern="[0-9]+.?[0-9]*"
              />

              <button
                (click)="doQuotient()"
                type="button"
                [disabled]="!quoForm.form.valid"
              >
                =
              </button>

              <div
                [hidden]="
                  quoing1.valid ||
                  quoing1.pristine ||
                  quoing2.valid ||
                  quoing2.pristine
                "
              >
                Only numeric values allowed...
              </div>

              <span *ngIf="showQuo">
                {{ quo3 }} / {{ quo4 }} = {{ quoResult }}
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
